@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
.outer-container {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
}
p {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 18px;
  margin: -4;
}
